/* START OF HEADER */

#header-nav {
    background-color: #A0D2EB;
    border-radius: 0;
    border: 0; 
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.88);
    position: relative;
}

#header-nav a {
    color: white;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.61);
}

.navbar-header button.navbar-toggle {
    vertical-align: middle;
  }

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    color: black;
  }
#collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

.navbar-brand span {
    vertical-align: middle;
}

#collapsable-nav {
    position: relative;
    float: left;
    width: 100%;
    background-color: #E5EAF5;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.42);
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.61);
}

#collapsable-nav li:hover {
    background-color: #A0D2EB;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.42);
}

/* END OF HEADER */

/* START OF BODY */

h1 {
    margin: 30px;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.61);
}

.col-xs-12 {
    width: 100%;
    position: absolute;
}

.row {
    background-color: #e5eaf5;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.42);
    height: 1000px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px 30px 5px 30px;
}

.container h2 {
    font-size: 18px;
}

.container p {
    padding: 10px 20px 10px 20px;
}

/* END OF BODY */